
h1 {
  font-size:40px;
}

h2,h3,h4,h5 {
	font-size:20px;
}
.para1 {
 
}

.sect1 {

}

figure {
	
	
}

body {
	font-family:'Roboto',sans-serif;
	background-color:#A6BFC6;   
}
